/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 22, 2023, 4:51:24 PM
    Author     : DAT
*/

a{
    color: green !important;
}
body {
    margin: 0;
    padding: 0;
    font-family:cursive;
}
.container3{

}

.post{
    margin-bottom: 20px;

}
.post {
    margin:  5xp;
    padding: 0px;
    width:  100%;
    height: 650px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.post img {
    width: 100%;
    height: 300px;
}
.post h2 {
    margin-top: 0;
    text-decoration: none;
    font-size: 10px;
}
.post p {
    margin-top: 0;
    text-decoration: none;
    font-size: 10px;
    height: 25%;
    overflow: hidden;
}
.sidebar {
    width: 100%;

    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.sidebar h3 {
    margin-top: 0;
}
.search-form {
    margin-bottom: 20px;
}
.search-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.col{
    width: 100%;
}
.last img{
    width: 100%;
}


.last {
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar1 {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar1-brand {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar1-divider {
    font-size: 20px;
    color: #333;
    margin-right: 10px;
    margin-left: 10px;
}
.active{
    background:  #0dcaf0;
}
.widgetre ul a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}
.pagination a{


}
