:root {
    --primary-color: #68cc8b;
    --incorrect-color: #FF6666;
    --marked-color: #ffe039;
}

body{
    height: 100vh;
}

.navbar-link{
    margin: 50px 0 0 50px;
}

.navbar-link a{
    color: green;
}

#overview-container{
    width: 70%;
}

.card{
    padding: 30px;
}

a{
    text-decoration: none;
    color: var(--primary-color)
}

.test-name{
    border-bottom: 3px solid black;
}

.mess-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.mess-header .close{
    cursor: pointer;
}

.mess-header img{
    height: 60%;
}

.mess{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.mess-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}
