/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 12, 2023, 10:33:13 PM
    Author     : admin
*/

body {
margin: 0;
padding: 0;
background: #00B5EA;
}

.box {
height: 50px;
position: absolute;
top: 25%;
left: 50%;
transform: translate(-50%,-50%);
background: #2f3640;
border-radius: 50px;
padding: 10px;
}

.sbutton {
color: #e84118;
float: right;
width: 40px;
height: 35px;
border-radius: 50%;
background: #DADADA;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
transition: 0.4s;
}

.stext {
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: #fff;
font-size: 15px;
transition: 0.4s;
line-height: 40px;
width: 0px;
}

.sbox:hover > .stext {
width: 200px;
padding: 0 5px;
border-radius: 50px;
}
.sbox:hover > .sbutton {
background: #fff;
}

.fa-search {
    background-color: transparent;
    border: none;
  outline: none;
  cursor: pointer;
color: #001EFF;
}